@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('css/chillax.css');
@import url('css/avenir.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  /* color: var(--foreground); */
  font-family: 'Avenir-Light' Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.content-padding{
  padding-left: 20rem;
  padding-right: 20rem;
}

.avenir{
  font-family: 'Avenir-Light';
}


.typewriter {
  font-size: 20px;
  font-family: "Avenir-Light";
  white-space: nowrap;
  color: #353535;
  overflow: hidden;
  border-right: 2px solid #4b4b4b; /* Cursor effect */
  animation: typing 6s steps(20, end) infinite, blink 0.5s step-end infinite;
  width: 0;
  
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}