@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('css/chillax.css');
@import url('css/avenir.css');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  font-family: 'Avenir-Black' ;
}
